Repository Palus-Somni-Team/shikicinema-server, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Smarthard, @BasicEC, @akdlsl

.github/CODEOWNERS:

# Maintainers
*                               @Smarthard

# Backend-only maintainers
/projects/backend/              @BasicEC

# Frontend-only maintainers
/projects/frontend              @akdlsl

# Shared tools and libraries
/projects/lib/                  @BasicEC @akdlsl

refactor state
  package-lock.json
  package.json
  projects/frontend/admin/.eslintrc.json
  projects/frontend/admin/_eslintrc.js
  projects/frontend/admin/angular.json
  projects/frontend/admin/deeppurple-amber.css
  projects/frontend/admin/package-lock.json
  projects/frontend/admin/package.json
  projects/frontend/admin/src/app/app.component.ts
  projects/frontend/admin/src/app/app.module.ts
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.ts
  projects/frontend/admin/src/app/auth/services/auth-api.service.ts
  projects/frontend/admin/src/app/auth/services/auth-store.service.ts
  projects/frontend/admin/src/app/auth/services/auth.guard.ts
  projects/frontend/admin/src/app/auth/state/auth.action.ts
  projects/frontend/admin/src/app/auth/state/auth.effects.ts
  projects/frontend/admin/src/app/auth/state/auth.reducer.ts
  projects/frontend/admin/src/app/auth/state/auth.selector.ts
  projects/frontend/admin/src/app/auth/state/auth.state.ts
  projects/frontend/admin/src/app/dashboard/pages/dashboard-page/dashboard-page.component.ts
  projects/frontend/admin/src/app/layout/components/header/header.component.html
  projects/frontend/admin/src/app/layout/components/header/header.component.scss
  projects/frontend/admin/src/app/layout/components/header/header.component.ts
  projects/frontend/admin/src/app/layout/components/menu/menu.component.ts
  projects/frontend/admin/src/app/layout/layout.component.ts
  projects/frontend/admin/tslint.json
Owners: @Smarthard, @akdlsl

[#33] fix space
  projects/backend/src/main.ts
Owners: @BasicEC

git ignore fix node modules
  .gitignore
Owners: @Smarthard

review fixes
  package-lock.json
  projects/frontend/admin/angular.json
  projects/frontend/admin/package.json
  projects/frontend/admin/src/app/app.component.spec.ts
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.scss
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.spec.ts
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.ts
  projects/frontend/admin/src/app/auth/services/auth-api.service.ts
  projects/frontend/admin/src/app/dashboard/pages/dashboard-page/dashboard-page.component.spec.ts
  projects/frontend/admin/src/app/layout/components/header/header.component.spec.ts
  projects/frontend/admin/src/app/layout/components/menu/menu.component.spec.ts
  projects/frontend/admin/src/app/layout/layout.component.spec.ts
  projects/frontend/admin/src/app/users/pages/users-page/users-page.component.spec.ts
  projects/frontend/admin/tsconfig.json
Owners: @Smarthard, @akdlsl

[#94] Review fixes
  projects/backend/src/services/author/author.service.ts
  projects/backend/src/services/requests/video/video-requests.service.ts
  projects/backend/src/services/user/user.service.ts
  projects/backend/src/services/video/video.service.ts
  projects/backend/src/utils/checks/check.ts
  projects/backend/src/utils/checks/dev/dev-assert.ts
  projects/backend/src/utils/checks/dev/dev-assertion-validator.spec.ts
  projects/backend/src/utils/checks/dev/dev-assertion-validator.ts
  projects/backend/src/utils/checks/test/array-like-checks.spec.ts
  projects/backend/src/utils/checks/test/not-null-checks.spec.ts
  projects/backend/src/utils/checks/test/null-checks.spec.ts
  projects/backend/src/utils/checks/test/number-checks.spec.ts
  projects/backend/src/utils/checks/test/test-validator.ts
  projects/backend/src/utils/checks/user/user-assert.ts
  projects/backend/src/utils/checks/user/user-assertion-validator.spec.ts
  projects/backend/src/utils/checks/user/user-assertion-validator.ts
  projects/backend/src/utils/checks/validator-base.ts
  projects/backend/src/utils/checks/validator.ts
Owners: @BasicEC

fix material styles
  projects/frontend/admin/deeppurple-amber.scss
  projects/frontend/admin/src/app/app.module.ts
  projects/frontend/admin/src/app/auth/auth.module.ts
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.html
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.scss
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.ts
  projects/frontend/admin/src/app/auth/services/auth-api.service.ts
  projects/frontend/admin/src/assets/styles/button.scss
  projects/frontend/admin/src/assets/styles/input.scss
  projects/frontend/admin/src/styles.scss
Owners: @akdlsl

[#199] use .nvmrc file for backend workflow
  .github/workflows/backend-ci.yml
  .nvmrc
Owners: @Smarthard

use node 18.17.0
  .nvmrc
Owners: @Smarthard

Заюзал компоненты материала
  package-lock.json
  package.json
  projects/frontend/admin/angular.json
  projects/frontend/admin/deeppurple-amber.scss
  projects/frontend/admin/src/app/app-routing.module.ts
  projects/frontend/admin/src/app/auth/auth.module.ts
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.html
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.scss
  projects/frontend/admin/src/app/auth/pages/auth-page/auth-page.component.ts
  projects/frontend/admin/src/app/auth/state/auth.effects.ts
  projects/frontend/admin/src/app/dashboard/dashboard.module.ts
  projects/frontend/admin/src/app/dashboard/pages/dashboard-page/dashboard-page.component.ts
  projects/frontend/admin/src/app/layout/components/header/header.component.html
  projects/frontend/admin/src/app/layout/components/header/header.component.scss
  projects/frontend/admin/src/app/layout/components/header/header.component.ts
  projects/frontend/admin/src/app/layout/components/menu/menu.component.html
  projects/frontend/admin/src/app/layout/components/menu/menu.component.scss
  projects/frontend/admin/src/app/layout/components/menu/menu.component.ts
  projects/frontend/admin/src/app/layout/layout.component.html
  projects/frontend/admin/src/app/layout/layout.component.scss
  projects/frontend/admin/src/app/layout/layout.component.ts
  projects/frontend/admin/src/app/layout/layout.module.ts
  projects/frontend/admin/src/app/users/pages/users-page/users-page.component.ts
  projects/frontend/admin/src/app/users/users.module.ts
  projects/frontend/admin/src/assets/.gitkeep
  projects/frontend/admin/src/assets/styles/variables.scss
  projects/frontend/admin/src/index.html
  projects/frontend/admin/src/styles.scss
  projects/frontend/admin/theme.scss
Owners: @Smarthard, @akdlsl

Удалил корсы
  projects/backend/src/main.ts
Owners: @BasicEC
